{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(70, 111, 146);
}

main{
    background-color: aqua;
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(rgb(225, 82, 248), rgb(66, 1, 66), blue);
}